<div class="container mt-5">
  <div class="row background bg-warning">
  
    <div class="col-sm-6 background-left p-5 pb-5">
      <h1 class="text-light font-weight-lighter">Don't just think<br><span class="display-3 float-right text-white"> Blog It !</span></h1>
    </div>
    
    <div class="col-sm-6 background-right p-2 pb-5 bg-warning">
      <div class="row">
        <div class="col">
  
          
    <!-- Nav tabs -->
    <ul class="nav nav-tabs mt-5 border-0 pl-4 offset-sm-2">
      <li class="nav-item">
        <a class="nav-link active text-white" data-toggle="tab" href="#home">Sign up for free</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" data-toggle="tab" href="#menu1">Login using your email</a>
      </li>
     
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
       
       <app-signup></app-signup>
      </div>
      
      <div id="menu1" class="container tab-pane fade"><br>
       
        <app-login></app-login>
        <div class="d-block mt-5 pb-1"></div>
      </div>
     
    </div> 
         
  
        </div>
      </div>
    </div>
  
  </div>
  </div>

 





<div class="containter bg-secondary mt-5">
<div class="row">
  <div class="col-sm-6 text-right">
    <img class="align-middle m-5" height="300px" src="/assets/What-Is-Ansp.png">
  </div>
  <div class="col-sm-4 text-white">
    <h2 class="mx-5 my-5">What is ANS?</h2>
    <h6 class="mx-5 my-1">
      Ans is a thought sharing platform where you can share your thoughts and craziest ideas with the world. You can also interact with other users by commenting on their posts. 
      <br/><br/>
      Create a free account and get started.
      <br/><br/>
      Let's get started!
    </h6>
  </div>
</div>
</div>

<hr/>

<div class="row pb-5">
  <div class="offset-sm-4 col-sm-6 text-left">
   

    <div class="row">
      <div class="col-sm-4 vertical-divider map"> 
      </div>
      
      <div class="col-sm-4">
        <i class="fa fa-phone mt-1"></i> 9893804747<br/>
        <i class="fa fa-envelope mt-1"></i> trainings@ans.com<br/>
        <i class="fa fa-map-marker mt-1"></i> Indore<br/>
        <i class="fa fa-map-marker mt-1 invisible"></i> MP, India - 122018
      </div>

     
    </div>

  </div>
</div>



